[submodule "libs/attwad_python-osc"]
	path = libs/attwad_python-osc
	url = https://github.com/attwad/python-osc.git

[submodule "libs/ansible-pi"]
	path = libs/ansible-pi
	url = https://github.com/cscashby/ansible-pi.git
